.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.loader {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.burger, .fries, .drink {
    margin: 0 10px;
    animation: bounce 1s infinite alternate;
}

.burger {
    width: 50px;
    height: 30px;
    background-color: #ffcc00;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.burger::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 10px;
    background-color: #ff5733;
    border-radius: 5px;
}

.fries {
    width: 10px;
    height: 40px;
    background-color: #ffcc00;
}

.drink {
    width: 20px;
    height: 40px;
    background-color: #ff5733;
    border-radius: 10px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}