@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.navbar {
  background-color: #03861c; /* Fon rangi */
  padding: 15px 30px; /* Yuqoridan va pastdan bo'shliqlar */
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
display: flex;
justify-content: center;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo__image{
  width: auto;
}
.navbar__logo {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  color: #ecf0f1; /* Yorqin oq rang */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  letter-spacing: -0.5px;

}
.navbar__logo span {
  color: #ffd702;
}


.navbar__items {
  display: flex;
  align-items: center; /* Vertikal markazlash */
  gap: 20px; /* Elementlar orasidagi bo'shliqlar */
     position: fixed;
    bottom:  0px;
    background: green;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;z-index: 11;
}

.navbar__item {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  position: relative; /* Notifikatsiya pozitsiyasini o'rnatish */
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.navbar__item:hover {
  color: #3498db; /* Hover effekti */
}

.navbar__icon {
  font-size: 24px; /* Ikonka o'lchami */
}

.navbar__notification {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff4757; /* Qizil rang */
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  min-width: 20px; /* Kichik raqamlarga moslash */
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} 